.topnav {
	background-color: #333;
	display: flex;
	justify-content: center;
	position: fixed; 
	top: 0;
	width: 100%;
}
.topnav a {
	color: #909090;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-family: century gothic; 
}

.topnav a:hover {
	background-color: #ddd;
	color: #06141B;
	text-decoration: none;
	font-weight: bold;
}

.table {
	width: 80%;
	border-collapse: collapse;
	margin: 40px auto;
	background-color: rgba(255,255,255,0.95);
}
.th, .td {
	border: 1px solid #333;
	padding: 10px;
	text-align: center;
	font-family: century gothic;
}
	
.th {
	background-color: #f2f2f2;
}

.album img {
	width: 35%;
	height: auto;
	background-image: url('frank-album.jpg');
}

.artist img {
	width: 30%;
	height: auto;
	background-image: url('frank-artist.jpg');
}
.song img{
	width: 25%;
	height: auto;
	border-radius: 4px;
}

.center{
	justify-content: center;
	text-align: center;
}
a{
	text-decoration: none;
}

a:hover{
	color: red;
	text-decoration: underline;
}
a:link{
	color: black;
}

body{
	background-image: url('frank-bg.jpg');
	background-size:50% 50%;
	background-repeat: repeat;
	margin: 0;
	padding-top: 50px;
}

h1{
	color: black;
	font-family: century gothic;
	font-weight: bold;
}

p{
	color: black;
	font-family: verdana;
	font-weight: bold;
	font-size:14px;
}

.box1{
	background-color:rgba(242, 242, 242, 0.95);
	width: 700px;
	border: auto;
	padding: 10px;
	margin: auto;
	margin-top: 30px;
}

.box2{
	background-color:rgba(242, 242, 242, 0.95);
	width: 300px;
	border: auto;
	padding: 10px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.box3{
	background-color:rgba(242, 242, 242, 0.95);
	width: 400px;
	border: auto;
	padding: 10px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;

}
